# Unreal Engine 4
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
.vs/
.vscode/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Compiled assets
*.apk
*.a
*.so
*.dll
*.lib
*.dylib

# Logs and temp files
*.log
*.tmp
*.bak
*.pid
*.DS_Store

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini